.container {
    max-width: 1820px;
    margin: 0 auto;
    padding-top: 2rem;
}

.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    /* identical to box height, or 114% */
    color: rgba(0, 0, 0, 0.87);
}