.container {
    max-width: 1820px;
    margin: 0 auto;
    padding-top: 2rem;
}

.header {
    display: flex;
    align-items: center;
}

.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.87);
    margin: 20px;
}

.logo {
    margin: 20px auto 20px 20px;
}